.pokemon_details__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
}

.pokemon_details__description h3,
.pokemon_details__description p {
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  padding: 0 15px;
}
